#nav-collapse a.router-link-active {
  color: #00bc8c !important;
}
@import "../../../node_modules/bootswatch/dist/darkly/variables";
@import "bootstrap/scss/bootstrap";
@import "../../../node_modules/bootswatch/dist/darkly/bootswatch";
@import 'bootstrap-vue/src/index.scss';