version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    versioning-strategy: increase
    target-branch: dev
  - package-ecosystem: "npm"
    directory: "/client-vue3"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    versioning-strategy: increase
    target-branch: feature/v3-migration
  - package-ecosystem: "pip"
    directory: "/server"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    versioning-strategy: increase
    target-branch: dev
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    target-branch: dev
  - package-ecosystem: "github-actions"
    directory: "/.github"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    target-branch: dev
