[MASTER]
init-hook="from pylint.config import find_default_config_files; import sys; sys.path.append(next(find_default_config_files()).parent.as_posix())"
ignore-paths=^alembic_config/.*$,^test/.*$

[MESSAGES CONTROL]
disable=
    logging-fstring-interpolation,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    duplicate-code,
    too-many-return-statements,
    too-many-branches,
    too-many-statements,
    unnecessary-lambda,
    too-many-locals,
    too-many-nested-blocks,
    too-many-arguments,
    unnecessary-dunder-call,
    broad-exception-raised,
    broad-exception-caught

[FORMAT]
max-line-length=120

[DESIGN]
max-args=15
max-locals=20
max-returns=20
max-branches=20
max-statements=50
max-attributes=20
max-positional-arguments=15