tornado==6.5.4
sqlalchemy>=2.0.0,<2.1.0
datetime==4.9
python-dateutil==2.9.0.post0
marshmallow-sqlalchemy>=1.4.0
tornado-prometheus==0.1.2
bcrypt==4.3.0
anytree==2.13.0
alembic==1.18.4
marshmallow<5
pyjwt[crypto]==2.11.0
setuptools==80.10.2
xkcdpass==1.30.0
zeroconf==0.148.0
pycrdt>=0.12.0,<1.0.0