name: Client Unit Tests

on: [pull_request]

permissions:
  checks: write
  pull-requests: write

jobs:
  run-client-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Install npm 10
        run: npm install -g npm@10
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:run
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: 'Client Test Results'
          junit_files: '**/client/junit/*.xml'