name: Python Linting and Formatting

on: [push]

jobs:
  ruff:
    name: Ruff (Linting & Formatting)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r test_requirements.txt
      - name: Run ruff linter
        run: |
          ruff check . --output-format github
      - name: Run ruff formatter
        run: |
          ruff format --check .
